[submodule "clang_driver/TempFile"]
	path = clang_driver/TempFile
	url = https://github.com/mgood7123/TempFile
[submodule "testBuilder"]
	path = testBuilder
	url = https://github.com/mgood7123/testBuilder
[submodule "replxx"]
	path = replxx
	url = https://github.com/AmokHuginnsson/replxx
[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip
[submodule "ZPack"]
	path = ZPack
	url = https://github.com/LeadRDRK/ZPack
[submodule "xz"]
	path = xz
	url = https://github.com/tukaani-project/xz
[submodule "wineditline"]
	path = wineditline
	url = https://github.com/mgood7123/wineditline-llvm
